.tong {
    background-color: rgb(237, 12, 79);
    width: 550px;
    height: 320px;
    border: 1px solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    box-sizing: content-box;
}
.tong .title {
    width: 500px;
    background-color: coral;
    padding: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid orangered;

}
.tong .text {
    width: 500px;
    height: 70px;
    background-color: hotpink;
    padding: 10px;
    border: 1px solid;
}
.tong .button {
    background-color: rgb(63, 213, 237);
    color: aliceblue;
    width: 80px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}